{% extends "MikeRacineBundle::layout.html.twig" %}
 {% block menu %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{path("mike_racine_homepage")}}">accueil</a></li>
            <li><a href="{{path("mike_twig_homepage")}}">Twig</a></li>
             <li><a href="{{path("mike_crud_homepage")}}">Crud</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
{% block titre %}
    
         <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <h1>Articles list</h1>
    {% endblock %}
    {% block soustitre %}<p>crud</p>{% endblock %}
    {% block content %}</div>




    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('CRUD_article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.text }}</td>
                <td>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('CRUD_article_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('CRUD_article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('CRUD_article_new') }}">Create a new article</a>
        </li>
    </ul>
    {% endblock %}