{% extends "MikeRacineBundle::layout.html.twig" %}
 {% block menu %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{path("mike_racine_homepage")}}">accueil</a></li>
            <li><a href="{{path("mike_twig_homepage")}}">Twig</a></li>
             <li><a href="{{path("mike_crud_homepage")}}">Crud</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
{% block titre %}
    
         <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <h1>Articles list</h1>
    {% endblock %}
    {% block soustitre %}<p>crud</p>{% endblock %}
    {% block content %}</div>



    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ article.text }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('CRUD_article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('CRUD_article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
