{% extends "MikeRacineBundle::layout.html.twig" %}
 {% block menu %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{path("mike_racine_homepage")}}">accueil</a></li>
            <li  class="active"><a href="{{path("mike_twig_homepage")}}">Twig</a></li>
            <li><a href="">Crud</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
{% block titre %}
    
         <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <h1>Bundle Twig</h1>
    {% endblock %}
    {% block soustitre %}<p>Condition Twig</p>{% endblock %}
    {% block content %}yop</div>
     {% block menu2 %}
       
          <ul>
            <li><a href="{{path("mike_twig_homepage")}}">accueil</a></li>
            <li><a href="{{path("mike_twig_condition")}}">Condition</a></li>
            <li><a href="{{path("mike_twig_boucle")}}">Boucles</a></li>
          </ul>
{% endblock %}
{% block lecontenu %}
   <pre>
     <p>chiffre 1 = {{nb1}}</p>
    <p>chiffre 2 = {{nb2}}</p>
    
    {# équivalent d'un for #}
    {% for i in 0..20 %}
    (% for i in 0..20 %)
        {% if loop.first %}
        (% if loop.first %)
            <hr/>
            <h5>Nombre de tour: {{loop.length}}</h5>
            <p>
        {%endif%}
        tour({{loop.index}}) = {{i}}
        (tour({{loop.index}}) = {{i}})
        {% if loop.last %}
        </p><hr/>
        {% else %} --- 
        {%endif%}
    {%endfor%}
    {% for i in 30..1 %}
    (% for i in 30..1 %)
        {% if loop.first %}
        (% if loop.first %) 
            <hr/>
            <h5>Nombre de tour: {{loop.length}}</h5>
            <p>
        {%endif%}
        {# si impaire#}
        {% if loop.index is odd %}
        (% if loop.index is odd %)
            <em>{{i}}</em>
            {%else%}
                <strong>{{i}}</strong>
        {%endif%}
                {# si pas le dernier tour#}
                {% if not loop.last %}
                    -     
        {%endif%}
    {%endfor%}
</pre>
{% endblock %}
{% endblock %}
    {% block footer %}</div>{% endblock %}
