{% extends "MikeRacineBundle::layout.html.twig" %}
 {% block menu %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{path("mike_racine_homepage")}}">accueil</a></li>
            <li  class="active"><a href="{{path("mike_twig_homepage")}}">Twig</a></li>
            <li><a href="">Crud</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
{% block titre %}
    
         <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <h1>Bundle Twig</h1>
    {% endblock %}
    {% block soustitre %}<p>Condition Twig</p>{% endblock %}
    {% block content %}yop</div>
     {% block menu2 %}
       
          <ul>
            <li><a href="{{path("mike_twig_homepage")}}">accueil</a></li>
            <li><a href="{{path("mike_twig_condition")}}">Condition</a></li>
           <li><a href="{{path("mike_twig_boucle")}}">Boucles</a></li>
          </ul>
{% endblock %}
{% block lecontenu %}
    
    <pre>
     <p>()={}</p>
    {% set nombre = 5 %}
    ( set nombre = 5 )
    
    {% if nombre < 10 %}
    (% if nombre < 10 %)   
        <p>Le nombre {{nombre}} est plus petit que 10</p>
    {%endif%}    
    {% if nombre <= 5 %}
    (% if nombre <= 5 %)
        <p>Le nombre {{nombre}} est plus plus petit ou égal à 5</p>
    {%endif%}
    {% if nombre > 5 %}
    (% if nombre > 5 %)
        <p>Le nombre {{nombre}} est plus grand que 5</p>
        {% else %}
        (% else %)
            {{"<p>Le nombre #{nombre} n'est pas plus grand que 5</p>"|raw}}
            (("Le nombre #(nombre) n'est pas plus grand que 5"|raw))
            
            {% if nombre not in [1,2,3]%}
            (% if nombre not in [1,2,3]%)
                <p>Le nombre {{nombre}} n'est ni 1, ni 2, ni 3</p>
            {%endif%}
    {%endif%}
    
    {% if unevariable is defined %}
    (% if unevariable is defined %)
        <p>{{unevariable}}</p>
        {% else %}
            <p>unevariable n'est pas définie</p>
    {%endif%}
</pre>
{% endblock %}
{% endblock %}
    {% block footer %}</div>{% endblock %}
